* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: Helvetica;
}

/* Utilities */

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* header */

.logo-banner {
  background-color: black;
  color: #fff;
  padding: 0.66rem 0;
  text-transform: uppercase;
}

.logo-banner .container {
  display: flex;
  align-items: center;
}

.logo-banner img {
  height: 1.5rem;
  padding-left: .5rem;
  padding-right: 1rem;
}

.main-banner {
  background-image: url(../images/moto.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-banner .container {
  display: flex;
  align-items: center;
  min-height: 25rem;
}

.update-box {
  background-color: black;
  color: #fff;
  display: inline-block;
  padding: 2rem 0;
}

/* Nav */

nav {
  background-color: firebrick;
  padding: 0.75rem;
}

nav ul  {
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
    font-size: 1rem;
}

/* Product Grid */

.product-grid {
  display: flex;
  margin: 3rem -1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: .25rem solid black;
  margin: 1rem;
  overflow: hidden;
  flex: 1 1 200px;
  text-align: center;
}

.product-image {
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product img {
  max-width: 8rem;
}

.product-title {
  background-color: black;
  color: #fff;
  align-items: flex-end;
  padding: 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  .product {
    border: .25rem solid black;
    margin: 1rem;
    overflow: hidden;
    flex: 0 1 40%;
  }
}

/* Information */

.information-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.information {
  width: 35%;
}

.info-title {
  background-color: black;
  color: #fff;
  padding: 1rem 2rem;
}

.info {
    margin: .25rem 0;
}

/* Footer */

footer {
  background-color: black;
  color: #fff;
}

footer .copyright {
  padding: 5rem 0;
}
